[user]
	name = harriha
	email = harri.halikka@gmail.com
[push]
	default = tracking
[core]
	safecrlf = false
	autocrlf = true
	editor = 'C:/Program Files (x86)/Notepad++/notepad++.exe' -multiInst -notabbar -nosession -noPlugin
	excludesfile = ~/.gitignore

[branch]
	autosetuprebase = always

[rebase]
	autosquash = true

[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  logf = "log --follow"
  lg = log --graph --pretty=format:'%C(green ul)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  activity = for-each-ref --sort=-committerdate refs/heads/ --format='%(committerdate:short) %(authorname) %(refname:short)'
